---
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";

type Props = {
  isWorksPage?: boolean;
} & CollectionEntry<"works">;

const { data, isWorksPage } = Astro.props;
const { title, description, link, splashImage, tags, showAsPost } = data;

const href = link;
const target = showAsPost ? "_self" : "_blank";
---

<article class="flex flex-1 basis-[32%] flex-col items-start">
  <a
    class="relative w-full transition-all hover:brightness-90"
    href={href}
    target={target}
    rel="noreferrer"
  >
    {
      isWorksPage && (
        <ul class="absolute bottom-0 right-0 m-2 flex gap-x-1">
          {tags.map((tag) => (
            <li class="rounded-full border border-neutral-600 bg-neutral-900 px-2 py-1 text-xs font-semibold shadow-xl">
              {tag}
            </li>
          ))}
        </ul>
      )
    }
    <Image
      src={splashImage}
      class="max-h-[180px] w-full rounded border border-neutral-600 object-cover object-top"
      alt={`${title} Splash Image`}
      width="308"
      height="180"
    />
  </a>

  <a
    class="group mt-2 flex items-center gap-x-2"
    href={href}
    target={target}
    rel="noreferrer"
  >
    <h4
      class="font-semibold text-pink-600 transition-all group-hover:text-pink-700"
    >
      {title}
    </h4>
    <ul class="flex items-center gap-x-1 text-sm">
      {tags.map((tag) => <li>{`#${tag}`}</li>)}
    </ul>
  </a>

  <p class="mt-1 text-sm text-neutral-200">
    {description}
  </p>
</article>
